{{ 'header-section.css' | asset_url | stylesheet_tag }}

<header style="background-color: {{ section.settings.background_color }}">
  <div id="header">
    <div id="logo"><a href="/">Dale26</a></div>
    <div class="left-menu">
      <ul>
        {%- for link in section.settings.menu.links -%}
          <li><a href="{{ link.url }}" alt="{{ link.title }}">{{ link.title }}</a>
        {%- endfor -%}
      </ul>
    </div>
    <div class="right-menu">
      <ul>
        {%- for link in section.settings.menu2.links -%}
          <li><a href="{{ link.url }}" alt="{{ link.title }}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "header-section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Link List",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "label": "Link List 2",
      "default": "footer"
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "Background Color",
      "info": "Change background color",
      "options": [
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "blue",
          "label": "Blue"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "white"
    }
  ]
}
{% endschema %}